@charset "utf-8";
*{
	margin:0;
	padding:0;
}

/*公共部分样式*/
#wrap{
	width:100%;
	max-width:600px;
	/*height:100%;*/
	height:662px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}
.main{
	height: 100%;
	position: relative;
	overflow: hidden;
}
.page{	
	width: 100%;
	height:100%;
	margin:0 auto;
	position:absolute;
	left:0;
	top:0;
	z-index:99;
	transition:all 1s ease;
	background:url(../img/9.jpg) 0 0 no-repeat;
	background-size: cover;
}
.pageDown{transform:translateY(100%);} 
.pageUp{transform:translateY(-100%);}


/*第一页*/
.page1{
	background: url(../img/1.jpg) 0 0 no-repeat;
	background-size: cover;
}
.page1 h1{
	font-size:40px;
	text-align: center;
	color:lime;
	position: relative;
	top:10px;
}
.page1 span{
	font-size: 24px;
	color:lime;
	position: relative;
	top:550px;
	left:400px;
}






/*第二页*/
.page2 img{
	display: block;
	width: 200px;
	height:200px;
	border-radius:100%;
	margin:20px auto;
}
.page2 p{
	font-size: 20px;
	font-weight: bold;
	text-align:center;
	line-height: 40px;
}
.page2 h2{
	text-align: center;
	margin-top: 10px;
}
.page2 .p1{
	color:#BB9F94;
}
.page2 .p2{
	color:#AF5F7E;
}
.page2 .p3{
	color:#6C2443;
}
.page2 .p4{
	color:purple;
}





/*第三页*/
.page3 h2{
	text-align: center;
	margin-top: 10px;
}
.page3 p{
	font-size: 20px;
	color:#AF5F7E;
}
.page3 .p6{
	position: relative;
	/*left:10px;*/
	top:20px;
}
.page3 .p7{
	position: relative;
	/*left:10px;*/
	top:40px;
}




/*第四页*/
.page4 h2{
	text-align: center;
	margin-top: 10px;
}
.page4 p{
	font-size: 18px;
	line-height: 30px;
	color:#AF5F7E;
}
.page4 .p8{
	position: relative;
	top:240px;
}




/*第五页*/
.page5 h2{
	text-align: center;
	margin-top: 10px;
}
.page5 p{
	font-size: 20px;
	color:#AF5F7E;
}
.page5 .p10{
	position: relative;
	top:20px;
}
.page .img-5{
	width:300px;
	height:200px;
	border-radius: 100px;
	position: relative;
	left:100px;

}




.music_btn{
	width: 44px;
	height: 44px;
	background:url(../img/music.png) center center no-repeat;
	position: fixed;
	top:15px;
	right:15px;
	z-index: 100;
}
/*提示箭头样式*/
.arrow{
	width: 86px;
	height:66px;
	background-color:transparent;
	position: fixed;
	bottom:10px;
	left:46%;
	z-index:100;
}